th, td {
    text-align: center;
    font-size: 16pt;
}

div {
    border: 1px solid black
}

.data {
    text-align: center;
    width: 10%;
}

.accordion-row {
    display: flex;
    width: 100%;
    flex-direction: row;
}