body {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5em;
}

.accordion {
    --bs-accordion-active-bg: #00000000;
    --bs-accordion-active-color: white;
    --bs-accordion-border-width: 0px;
    --bs-accordion-btn-bg: #00000000;
    --bs-accordion-btn-color: white;
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-border-radius: 5vh;
}

.accordion-item {
    color: white;
}

.accordion-button {
    flex-direction: column;
    font-size: 1em;
    padding: 0px;
}
.accordion-button:after {
    content: none;
}

.panes-container {
    display: inline-flex;
    width: 100%;
}

.cond-text {
    font-size: 0.7em;
}

.nav-link {
    font-size: 0.6em;
}

.data {
    text-align: center;
    height: 100%;
}

.icon {
    text-align: center;
    height: 100%;
    width: 100px;
    position: relative;
}

.icon-img {
    height: 100;
    width: 100;
}

.icon-cha-prec {
    position: absolute;
    height: 15%;
    right: 0; 
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-cha-prec-text {
    font-size: 0.7em;
}

.day-night-pane {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.flex-row-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    background: rgb(230,230,230,0.3);
    border-radius: 5vh;
    padding: 5px;
}

.flex-row-container-left{
    justify-content: left;
}
.flex-row-container-right{
    justify-content: right;
}

.night-element {
    text-align: center;
    /* width: 5%; */
    height: 100%;
}

.accordion-row {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 10px;
    flex-direction: row;
    align-items: center;
}

.col_header {
    width: 10%;
    text-align: center;
    font-weight: bold;
    font-size: 16pt;
}

.circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.pane-title {
    padding: 5px;
    font-weight: bold;
}

.tile {
    border-radius: 5vh;
    padding: 10px;
    padding-top: 0px;
    width: 100%;
    background-image: linear-gradient(to right, #4992d1, #152029);
}

.tile-row {
    display: flex;
    width: 75%;
}
.tile-row:hover {
    background-color: aliceblue;
    opacity: 0.8;
}

#background {
    color: white;
    /* background-image: linear-gradient(#4992d1, #4a8aa8) */
    background-color: #f7f7f7;
}

#tile-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    gap: 10px;
}