html {
  background-color: F2F2F2;
  font-family: 'Work Sans', sans-serif;
  font-size: 20pt;
}

h1 {
  color: black;
}

button {
  font-family: "Work Sans", sans-serif;
  background-color: white;
  margin: 10px;
  display:block;
}

label {
	user-select: none
}

input {
  text-align: center;
}

button:hover {
  text-decoration: underline;
}

label:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}

.mc_settings {
	font-size: 20pt;
	display: none
}

.open_page{
  padding: 7px;
  display: block;
  margin: auto;
  margin-bottom: 15px;
}

.open_page_button {
  font-size: 20pt;
}

.center_flex{
  display: flex; 
  align-items: center; 
  justify-content: center}

.mc_img_class {
  max-height:800px;
  width: 90%
}

/* CUSTOM CHECKBOXES */
/* .sp_cbox_l/* Customize the label (the container) */
.sp_cbox_label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  /* font-size: 22px; */
  font-size: 1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.sp_cbox_label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.sp_cbox_span {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.sp_cbox_label:hover input ~ .sp_cbox_span {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.sp_cbox_label input:checked ~ .sp_cbox_span {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.sp_cbox_span:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.sp_cbox_label input:checked ~ .sp_cbox_span:after {
  display: block;
}

/* Style the checkmark/indicator */
.sp_cbox_label .sp_cbox_span:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#species_checkboxes {
	display: none;
}

#back_to_mm {
  display:none;
  margin: auto;
}

#mc_quiz_permanent {display: none}

#img_container {
  display: none;
  width: 48%;
}

#mc_choices_container {
  display: none;
  width: 48%;
}

#mc_quiz_container {
  width: 100%;
  display: flex;
  align-items: center;
}
